<div class="row">
  <div class="col-md-9">
    <%= image_tag(@pin_property.picture_url, width: '100%') if @pin_property.picture.present? %>
  </div>

  <div class="col-md-3">
    <br/>
    <p>
      <b>Name: </b><%= @pin_property.name %>
      <% if current_user == @pin_property.user %>
          <%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_pinboard_path(@pin_property) %>
          <%= link_to "<i class='glyphicon glyphicon-trash text-danger'></i>".html_safe, @pin_property, data: { confirm: 'Are you sure?' }, method: :delete %>
      <% end %>
    </p>
    <p><b>Description: </b><%= @pin_property.description %></p>
  </div>
</div>

